
<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>
<style>
  /* Scoped styles for custom-nav-tabs */
  .custom-nav-tabs {
    display: flex;
    gap: 10px;
    /* Add space between tabs for clear distinction */
    padding: 0;
    margin: 0;
    list-style: none;
  }



  .custom-nav-tabs .nav-link {
    text-align: center;
    padding: 10px 15px;
    color: #000000;
    /* Slightly darker version of #61A3C0 */
    font-weight: bold;
    border: 1px solid #d1d9de;
    /* Subtle border for separation */
    border-radius: 5px;
    background-color: #e7e7e7;
    /* Light background to distinguish tabs */
    transition: all 0.3s ease;
  }

  .custom-nav-tabs {
    border-bottom: 0px;
  }

  .custom-nav-tabs .nav-link:hover {
    color: #ffffff;
    background-color: #61A3C0;
    /* Your primary color */
  }

  .custom-nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #4d8da9;
    /* Slightly darker primary color */
    border-color: #61A3C0;
  }
</style>
<a href="/utilities/addtruck" class="btn btn-danger ml-3" type="button" aria-label="Add New">Add New</a>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <ul class="nav nav-tabs custom-nav-tabs" id="reportTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="salesmantab" data-bs-toggle="tab" data-bs-target="#salesman"
                type="button" role="tab" aria-controls="salesman" aria-selected="true">
                Salesman Report
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Customertab" data-bs-toggle="tab" data-bs-target="#Customer" type="button"
                role="tab" aria-controls="Customer" aria-selected="false">
                Customer Report
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Credittab" data-bs-toggle="tab" data-bs-target="#Credit" type="button"
                role="tab" aria-controls="Credit" aria-selected="false">
                Credit Report
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Trucktab" data-bs-toggle="tab" data-bs-target="#Truck" type="button"
                role="tab" aria-controls="Truck" aria-selected="false">
                Truck Report
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="salesman" role="tabpanel" aria-labelledby="salesmantab">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0">Salesman Reports</h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name"> Truck ID</th>
                      <th scope="col" class="sort" data-sort="budget">Route</th>
                      <th scope="col" class="sort" data-sort="status">Stock of 5 gal bottles</th>
                      <th scope="col" class="sort">Stock of 200 ml bottles</th>
                      <th scope="col" class="sort" data-sort="completion">City</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!--Customer Report-->
            <div class="tab-pane fade" id="Customer" role="tabpanel" aria-labelledby="Customertab">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0">Customer Reports</h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name"> Customer Name</th>
                      <th scope="col" class="sort" data-sort="budget">Customer ID</th>
                      <th scope="col" class="sort" data-sort="status">Recent Delivery</th>
                      <th scope="col" class="sort">Contact Number</th>
                      <th scope="col" class="sort" data-sort="completion">Bottles</th>
                      <th scope="col" class="sort">Security deposit</th>
                      <th scope="col" class="sort" data-sort="completion">Location</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>

                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            <!--Credit Report-->

            <div class="tab-pane fade" id="Credit" role="tabpanel" aria-labelledby="Credittab">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0">Credit Reports</h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name"> Customer Name</th>
                      <th scope="col" class="sort" data-sort="budget">Customer ID</th>
                      <th scope="col" class="sort" data-sort="status">Last Delivery Date</th>
                      <th scope="col" class="sort">Time</th>
                      <th scope="col" class="sort" data-sort="completion">Route</th>
                      <th scope="col" class="sort">Mobile number</th>
                      <th scope="col" class="sort" data-sort="completion">5 Gallon Price</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!--TRuck Report-->
            <div class="tab-pane fade" id="Truck" role="tabpanel" aria-labelledby="Trucktab">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0">Truck Reports</h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name"> Customer Name</th>
                      <th scope="col" class="sort" data-sort="budget">Customer ID</th>
                      <th scope="col" class="sort" data-sort="status">Last Delivery Date</th>
                      <th scope="col" class="sort">Time</th>
                      <th scope="col" class="sort" data-sort="completion">Route</th>
                      <th scope="col" class="sort">Mobile number</th>
                      <th scope="col" class="sort" data-sort="completion">5 Gallon Price</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
  

<%- include('../includes/footer.ejs') -%>

<%- include('../includes/end.ejs') -%>