
<%- include('./includes/head.ejs') -%>
<%- include('./includes/navigation.ejs') -%>

<%- include('./includes/header.ejs') -%>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Sales value</h5>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark"
                  data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$"
                  data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark"
                  data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$"
                  data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h5 class="h3 mb-0">Total orders</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-bars" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('./includes/footer.ejs') -%>

<%- include('./includes/end.ejs') -%>


<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>

<a href="/zones/addzone" class="btn btn-danger ml-3" type="button" aria-label="Add New">Add New</a>
</div>
</div>

</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Add New Zone</h3>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <form action="/addzones" method="POST">
                        <div class="form-group row">
                            <label for="zoneId" class="col-md-2 col-form-label form-control-label">Zone ID</label>
                            <div class="col-md-10">
                                <input
                                    class="form-control"
                                    type="text"
                                    name="id"
                                    id="id"
                                    placeholder="Enter Zone ID"
                                    required
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="route" class="col-md-2 col-form-label form-control-label">Route</label>
                            <div class="col-md-10">
                                <!-- <input
                                    class="form-control"
                                    type="text"
                                    name="routeId"
                                    id="routeId"
                                    placeholder="Select or enter the Route"
                                    required
                                /> -->
                                <select class="items-js form-control" name="routeId" id="route-select" required></select>
                               
                                  
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <button type="submit" class="btn btn-success">Add Zone</button>
                                <a href="/" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
           <!-- Include jQuery -->

     <!-- Include jQuery -->

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Include Select2 CSS -->

<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

          <script>
            $(document).ready(function () {
              // Initialize Select2 for the element with the correct ID or class
              $('.items-js').select2({
                dropdownParent: $("#route-select"),
      ajax: {
        url: '/routeids', // Backend endpoint
        dataType: 'json',
        delay: 250, // Debounce for performance
        processResults: function (data) {
          return {
            results: data.map(function (item) {
              return { id: item.id, text: item.id }; // Customize text display
            }),
          };
        },
      
      },
    });
            });
          </script>   
            
<%- include('../includes/footer.ejs') -%>

<%- include('../includes/end.ejs') -%>