
<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>
<a href="/zones/addzone" class="btn btn-danger ml-3" type="button" aria-label="Add New">Add New</a>
</div>
</div>

</div>
</div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Manage Zones</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table id="zonetable" class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Zone ID</th>
                <th scope="col" class="sort" data-sort="budget">Route</th>
                <th scope="col" class="sort" data-sort="status">Creation Date</th>
                <th scope="col" class="sort">Updated At</th>
                <th scope="col" class="sort" data-sort="completion">Actions</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
     
      </div>
    </div>
  </div>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
    
    <script>
      $(document).ready(function () {
        console.log('hehe')
        
        // Initialize DataTable
       var datatable = $('#zonetable').DataTable({
        responsive: true,
              processing: true,
              serverSide: true,
          ajax: {
            url: 'http://localhost:5000/getzones', // Backend API endpoint
            dataSrc: 'docs', // Key that holds the array of data in the API response
                data: function (d) {
                  return d;
      
                  // Add any additional parameters you want to send to the server here
                },// Data source is the root of the response array
          },
          columns: [
        { data: 'zoneId' },
        { data: 'route' },
        { data: 'creationDate' },
        { data: 'updatedAt' },
        { data: null, render: function(data, type, row) {
            return `
              <button class="btn btn-primary edit-zone" data-id="${row._id}">Edit</button>
              <button class="btn btn-danger delete-zone" data-id="${row._id}">Delete</button>
            `;
          }
        }
      ]
        });
      });
    </script>

<%- include('../includes/footer.ejs') -%>

<%- include('../includes/end.ejs') -%>