
<%- include('./includes/head.ejs') -%>

<% if (user) { %>
  <%- include('./includes/navigation.ejs', { route: 'error', sub: 'error', city: 'error' }) -%>
  <% } %>

<%- include('./includes/header.ejs',{route:'error',sub:'error',city:'error'}) -%>

</div>
</div>
</div>
<div class="container-fluid mt-6">
    <div class="row">
        <div class="col">
          <div class="card p-2">
<h1><%= message %></h1>
<h2><%= error.status %></h2>

</div>
</div>
</div>
</div>
<%- include('./includes/end.ejs') -%>