<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>

</div>
</div>
</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0 text-white">Add New Commission</h3>
                </div>
                <!-- Card body -->
                <div class="card-body" id="cardb">
                    <form id="addTruckForm" action="/addcommission" method="POST">
                      <div class="form-group row">
                        <label for="city" class="col-md-2 col-form-label form-control-label">Commission Code </label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" placeholder="Commissioncode" id="commissioncode" name="commissioncode" required>

                            <!-- <input class="form-control" type="text" placeholder="Select or enter the city"  required> -->
                        </div>
                    </div>
                        <div class="form-group row">
                            <label for="truck-id" class="col-md-2 col-form-label form-control-label">Benifit</label>
                            <div class="col-md-10">

                              <select class="form-control" name="benifit" id="benifit">
                                <option value="Percentage Increment">Percentage Increment</option>
                                <option value="Fixed Increment">Fixed Increment</option>

                              </select>                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="city" class="col-md-2 col-form-label form-control-label">Sales achievement Value </label>
                            <div class="col-md-10">
                              <input class="form-control" type="number" placeholder="Sales Achievement Value" id="achievement" name="achievement" required>

                                <!-- <input class="form-control" type="text" placeholder="Select or enter the city"  required> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="max-stock-5gallon" class="col-md-2 col-form-label form-control-label">Increment</label>
                            <div class="col-md-10">
                              <input class="form-control" type="number" placeholder="Increment Value Or Percentage" id="increment" name="increment" required>

                            </div>
                        </div>
                     
                        <div>
                            <button type="submit" class="btn btn-success">Add Commission</button>
                            <!-- <button type="reset" class="btn btn-danger">Cancel</button> -->
                        </div>
                    </form>
                </div>
            </div>
            <!-- Footer -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

            <!-- Include Select2 CSS -->
            
            <!-- Include Select2 JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
            
                     
            
                        
<%- include('../includes/footer.ejs') -%>
<%- include('../includes/end.ejs') -%>
