
<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>
</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Add New Truck</h3>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="example-text-input"
                                class="col-md-2 col-form-label form-control-label">Truck ID</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" placeholder="Enter Truck ID"
                                    id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input"
                                class="col-md-2 col-form-label form-control-label">City</label>
                            <div class="col-md-10">
                                <input class="form-control" type="search" placeholder="Select or enter the city"
                                    id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-email-input"
                                class="col-md-2 col-form-label form-control-label">Max Stock (5-Gallon
                                Bottles)</label>
                            <div class="col-md-10">
                                <input class="form-control" type="email"
                                    placeholder="Enter maximum stock for 5 - gallon bottles" id="example-email-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-url-input"
                                class="col-md-2 col-form-label form-control-label">Max Stock (200ml
                                Bottles)</label>
                            <div class="col-md-10">
                                <input class="form-control" type="url"
                                    placeholder="Enter maximum stock for 200 ml bottles" id="example-url-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-tel-input"
                                class="col-md-2 col-form-label form-control-label">Assigned Routes</label>
                            <div class="col-md-10">
                                <input class="form-control" type="tel"
                                    placeholder="Enter or select the assigned routes" id="example-tel-input">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success">Add Truck</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center  text-lg-left  text-muted">
                            &copy; 2024 <a href="https://www.Iconia.ae" class="font-weight-bold ml-1"
                                target="_blank">Iconia Technologies</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.Iconia.ae" class="nav-link" target="_blank">Iconia</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.iconia.ae/aboutus" class="nav-link" target="_blank">About
                                    Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
<%- include('../includes/footer.ejs') -%>

<%- include('../includes/end.ejs') -%>