<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>

<a href="/utilities/addtruck" class="btn btn-danger ml-3" type="button" aria-label="Add New">Add New</a>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Add New Truck</h3>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <form id="addTruckForm" action="/addtrucks" method="POST">
                        <div class="form-group row">
                            <label for="truck-id" class="col-md-2 col-form-label form-control-label">Truck ID</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" placeholder="Enter Truck ID" id="truck-id" name="truckId" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="city" class="col-md-2 col-form-label form-control-label">City</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" placeholder="Select or enter the city" id="city" name="city" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="max-stock-5gallon" class="col-md-2 col-form-label form-control-label">Max Stock (5-Gallon Bottles)</label>
                            <div class="col-md-10">
                                <input class="form-control" type="number" placeholder="Enter maximum stock for 5-gallon bottles" id="max-stock-5gallon" name="maxStock5Gallon" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="max-stock-200ml" class="col-md-2 col-form-label form-control-label">Max Stock (200ml Bottles)</label>
                            <div class="col-md-10">
                                <input class="form-control" type="number" placeholder="Enter maximum stock for 200ml bottles" id="max-stock-200ml" name="maxStock200ml" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="assigned-routes" class="col-md-2 col-form-label form-control-label">Assigned Routes</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" placeholder="Enter or select the assigned routes" id="assigned-routes" name="assignedRoutes" required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Add Truck</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Footer -->
          
<%- include('../includes/footer.ejs') -%>
<%- include('../includes/end.ejs') -%>
