
<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>

</div>

</div>
</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Employee Registration</h3>
                </div>
                <!-- Card body -->
                <div class="card-body" id="cardb">
                    <form class="needs-validation" action="/addemployees" method="POST" novalidate>
                        <div class="form-group row">
                            <label for="example-text-input"
                                class="col-md-2 col-form-label form-control-label">Full Name</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="name" placeholder="Enter employee name"
                                    id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input"
                                class="col-md-2 col-form-label form-control-label">Password</label>
                            <div class="col-md-10">
                                <input class="form-control" type="search"
                                    placeholder="Create or set a secure password" name="password" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-email-input"
                                class="col-md-2 col-form-label form-control-label">Email Address</label>
                            <div class="col-md-10">
                                <input class="form-control" type="email" name="email" placeholder="Employee's official email ID"
                                    id="example-email-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-url-input"
                                class="col-md-2 col-form-label form-control-label">Contact Number
                            </label>
                            <div class="col-md-10">
                                <input class="form-control" type="url" name="mobileNumber" placeholder="Contact number for the employee"
                                    id="example-url-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-tel-input"
                                class="col-md-2 col-form-label form-control-label">Designation</label>
                            <div class="col-md-10">
                                <!-- <input class="form-control" type="tel" name="designation" placeholder="Enter Designation"
                                    id="example-tel-input"> -->

                                    <select class="designation-js form-control" name="designation" id="designationid" required></select>

                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Register</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Include Select2 CSS -->
    
    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
    <script>
      $(document).ready(function () {
        // Initialize Select2 for the element with the correct ID or class
        $('.designation-js').select2({
          dropdownParent: $("#cardb"),
ajax: {
  url: '/classnames', // Backend endpoint
  dataType: 'json',
  delay: 250, // Debounce for performance
  processResults: function (data) {
    return {
      results: data.map(function (item) {
        return { id: item.className, text: item.className }; // Customize text display
      }),
    };
  },

},
});
      });
    </script>   
<%- include('../includes/footer.ejs') -%>

<%- include('../includes/end.ejs') -%>