
<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>

<%- include('../includes/header.ejs') -%>
<%- include('../components/searchbartr.ejs') -%>
<a href="/customers/newcustomer" class="btn btn-danger ml-3" type="button" aria-label="Add New">Add New</a>
</div>
</div>


</div>
</div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Personal Information</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <form class="needs-validation" action="/addCustomer" method="POST" novalidate>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="form-control-label" for="name">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter full name" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label class="form-control-label" for="mobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter mobile number" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label class="form-control-label" for="mobileNumber2">Alternate Mobile Number</label>
                    <input type="text" class="form-control" id="mobileNumber2" name="mobileNumber2" placeholder="Enter alternate number">
                    <div class="invalid-feedback">
                      Please provide an alternate number.
                    </div>
                  </div>
                </div>
      
                <h4 class="mt-3 mb-3">Address Details</h4>
      
                <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="zone">Zone</label>
                      <input class="form-control" id="zone" name="zone" placeholder="Zone" type="text" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="address">Address</label>
                      <input class="form-control" id="address" name="address" placeholder="Address" type="text" required>
                    </div>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="apartmentNumber">Apartment/House No:</label>
                      <input class="form-control" id="apartmentNumber" name="apartmentNumber" placeholder="Apartment/House No" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="route">Route</label>
                      <input class="form-control" id="route" name="route" placeholder="Route" type="text" required>
                    </div>
                  </div>
                </div>
      
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label class="form-control-label" for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label class="form-control-label" for="walletBalance">Wallet Balance</label>
                    <input type="number" class="form-control" id="walletBalance" name="walletBalance" placeholder="Wallet Balance" required>
                  </div>
                </div>
      
                <!-- Submit Button -->
                <div>
                  <button type="submit" class="btn btn-success">Submit Order</button>
                  <a href="/" class="btn btn-danger">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
<%- include('../includes/footer.ejs') -%>

<%- include('../includes/end.ejs') -%>